*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Open Sans', sans-serif;
    background-color: #9C835F;
}

.menu-atas {
    display: flex;
    align-items: center;
}

.lebih-kecil {
    margin-top: 12px;
    margin-left: 27px;
}

.logo-gabung {
    margin-left: 27px;
    margin-top: 10px;
}

.rock-paper-scissor {
    color: #F9B23D;
    position: absolute;
    left: 198px;
    top: 5px;
    width: 410px;
    height: 62px;
    font-weight: 700;
    font-size: 36px;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 75%;
    height: 650px;
    margin: auto;
    row-gap: 15px;
}

.batunyaPlayer {
    width: 128px;
    height: 92px;
    left: 340px;
    top: 200px;
    position: absolute;
}

.batunyaPlayer:hover {
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 1px;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}

.kertasnyaPlayer {
    position: absolute;
    left: 346px;
    top: 350px;
    width: 115px;
    height: 150px;
}

.kertasnyaPlayer:hover {
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 1px;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}

.guntingnyaPlayer {
    width: 134px;
    height: 160px;
    position:absolute;
    top: 560px;
    left: 335px;
}

.guntingnyaPlayer:hover {
    background-color: #c4c4c4;
    border-radius: 10px;
    padding: 1px;
    transform: scale(1.2);
    cursor: pointer;
    transition: 0.5s;
}

.player {
    position: absolute;
    width: 299px;
    height: 94px;
    left: 335px;
    top: 100px;
}

.vs-refresh {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.vs {
    position: absolute;
    width: 150px;
    height: 100px;
    top: 380px;
    left: 710px;
}

.refresh {
    position: absolute;
    width: 110px;
    height: 100px;
    top: 700px;
    left: 735px;
}

.computer {
    position: absolute;
    width: 299px;
    height: 94px;
    right: 180px;
    top: 105px;
}

.batunyaComputer {
    width: 128px;
    height: 92px;
    right: 380px;
    top: 205px;
    position: absolute;
}

.kertasnyaComputer {
    width: 115px;
    height: 150px;
    position: absolute;
    right: 380px;
    top: 345px;
}

.guntingnyaComputer {
    width: 134px;
    height: 160px;
    position:absolute;
    top: 560px;
    right: 380px;
}


